{%extends 'base.html'%}
{%block content%}
{% include "header.html" %}
<h2>Member Form</h2>


  <form action="{% url 'members:addmember' %}" method="POST">{%csrf_token%}

    <div class="row">
      <div class="col-25">
        <label for="fname">First Name</label>
      </div>
      <div class="col-75">
      	{{form.firstname}}
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="lname">Last Name</label>
      </div>
      <div class="col-75">
        {{form.lastname}}
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="country">Mobile</label>
      </div>
      <div class="col-75">
       {{form.mobile}}
      </div>
    </div>
     <div class="row">
      <div class="col-25">
        <label for="country">Email</label>
      </div>
      <div class="col-75">
       {{form.email}}
      </div>
    </div>
     <div class="row">
      <div class="col-25">
        <label for="country">City</label>
      </div>
      <div class="col-75">
       {{form.city}}
      </div>
    </div>
   
    <div class="row">
      <button type="submit" class="btn btn-success" >Add member</button>
    </div>
  </form>

  {%endblock%}


<script>
	 
</script>
