
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Urja</a>
    </div>
    <ul class="nav navbar-nav">
      {% if request.session.userfirstname %}
      <li class="active"><a href="{%url 'members:memberdata'%}">Home</a></li>
      {%endif%}
      {% if request.session.userfirstname == "" %}
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="{%url 'members:getallmembers'%}">Members </a>
      </li>
      {%endif%}
      {% if request.session.userinstance %}
      <li class="dropdown"><a href="{%url 'members:editmembers' pk=request.session.userinstance%}">Edit</a></li>
      {%endif%}
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {% if request.session.userfirstname %}
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Welcome ...{{request.session.userfirstname}}</a></li>
      <li><a href="{%url 'members:logoutmember'%}"><span class="glyphicon glyphicon-user"></span> Log out</a></li>
      {%else%}
      <li><a href="{%url 'members:loginmember'%}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      {%endif%}
    </ul>
  </div>
</nav>